.list_move {
    display: flex; /* Встановлення flex контейнера */
    flex-wrap: wrap; /* Дозволити елементам переноситись на новий рядок */
    justify-content: space-around; /* Розподілити елементи по ширині */
    padding: 0; /* Прибрати внутрішні відступи списку */
    margin: 0; /* Прибрати зовнішні відступи списку */
    list-style-type: none; /* Прибрати маркери списку */
  }