.title {
    font-size: 2.5rem; /* Розмір шрифту заголовку */
    font-weight: bold; /* Жирний шрифт */
    color: #333; /* Колір тексту заголовку */
    text-align: center; /* Вирівнювання заголовку по центру */
    margin: 20px 0; /* Відступи зверху та знизу */
}
  
.list_move {
    display: flex; /* Встановлення flex контейнера */
    flex-wrap: wrap; /* Дозволити елементам переноситись на новий рядок */
    justify-content: space-around; /* Розподілити елементи по ширині */
    padding: 0; /* Прибрати внутрішні відступи списку */
    margin: 0; /* Прибрати зовнішні відступи списку */
    list-style-type: none; /* Прибрати маркери списку */
  }